/* Stile per il form e i suoi elementi */
form {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: grid;
    gap: 10px;

}

/* Stili per gli input */
button[type="submit"],
input[type="text"],
input[type="date"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Stile per il pulsante di invio*/
button[type="submit"],
input[type="submit"] {
    background-color: #FFB347;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button[type="submit"]:hover,
input[type="submit"]:hover {
    transition: 0.5s;
    color: #4A9DEC;
}