*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #fff;
    color: #080808;
    margin: 0;
    position: relative;
    min-height: 100vh;
}


header{
    display:flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    background-position: center;
    color: #fff;
    background-color: #FFB347;
    font-size: 40px;
    padding-top:  0.2%;
    padding-left:  30px;
}
img{
    scale: 0.9;
}

nav{
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: #f5f5f5;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}


nav ul li a{
    color: #a3a2a2;
    text-decoration: none;
    font-size: 20px; 
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #ff004f;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a.current-page:hover::after {
    color: transparent;
    width: 0;
}

nav ul li a i{
    padding-right: 10px;
}

#research{
    border-radius: 0px;
    font-size: 30px;
    background-color: transparent;
}

#research form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 0px;
    background-color:  #FFB347;
    border: none;
    border-radius: 14px;
    height: 1.7em; /*vuol dire 1.7 volte la grandezza del testo*/
    margin-left: 6%;
    margin-right: 35%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent; 
    color: #0047AB;
    border: none;
    padding: 12px; /* Spazio intorno al testo */
    font-size: 18px; 
    cursor: pointer;
    margin-right: 30px;
}
select::-ms-expand {
    display: none;
}
select:focus{
    outline: none;
    border: none;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}


.select-wrapper i {
    position: absolute;
    right: 5px;
    top: calc(50% - 0.5em); /* Centra verticalmente l'icona */
    margin-right: 10px;
    color:#0047AB;
    font-size: 18px;
}

#research form input{
    text-decoration: none;
    color: #4A9DEC;
    box-shadow: none;
    outline-color: transparent;
    font-size: 16px;
    background-color:  #fff;
    width: 100%;
    font-size: 18px;
    padding: 14px;
    border: 2px solid transparent;
    height: 2em;
    outline: none;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.5s;
}

  
#research form input:hover,
#research form input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgba(245, 212, 146, 0.2);
  background-color: white;
}

#research form input::placeholder{
    color: #080808;
    opacity: 0.5;
}

#research form button{
    border: 0px;
    margin-right: 20px;
    background: #FFB347;
    outline: none;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#pulsRicerca {
    color: #fff;
    text-shadow: transparent;
    box-shadow: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

#pulsRicerca:hover{
    color: #4A9DEC;;
}


#pulsCreate{
    margin-top: 30px!important;
    width: 60px;
    cursor: pointer;
}
#pulsCreate i{
    transition: transform 0.5s;
    font-size: 24px;
    color: #fff;
}

#pulsCreate i:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.scroll-table {
    margin-top: 0.5%;
    margin-right: 6%;
    margin-left: 6%;
    height: 50vh;
    overflow: auto;
    border: 2px solid #cdc8c857;
    border-radius: 10px;

}

table {
    width: 100%;
    border-collapse: separate;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
}

table tr {
    background-color: transparent;
    color: #080808;
    text-align: left;
}

/*Titolo della tabella*/
table th {
    color: #fff;
    background-color: #f5c076;
    opacity: 1;
    font-size: 16px;
    padding: 12px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
}

table td {
    padding: 6px 10px;
    font-size: 14px;
}

table td form{
    padding: 6px 0px;
    font-size: 14px;
    background-color: transparent!important;
}

table td form button{
    background-color: transparent !important;
    border: none;
}

.pulsCrud{
    border: none;
}

.pulsCrud i{
    background-color: transparent !important;
    transition: transform 0.5s;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    color: #FFB347;
}

.pulsCrud i:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

table tr {
    border-bottom: 1px solid #FFB347;
}


table tr a{
    color:#4A9DEC;
    text-decoration: none;
    font-size: 14px!important;
    transition: 0.5s;
    position: relative;
}


table tr a::before{
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #ff004f;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}

table tr a:hover::before{
    width: 100%;
}

table tr a:hover{
    color: #ff004f;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #FFB347;
}

  /* Stile per la riga con sopra il mouse*/
  .hovered {
    background-color: rgba(74, 157, 236,0.3)!important;
  }
  
  /* Stile per la riga selezionata */
  .selected {
    background-color: rgba(74, 157, 236,0.3)!important;
    color: #fff !important;
  }

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,179,71,1);
    font-size: 24px;
    color: #fff;
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    z-index: 1; /* Impostato un valore di z-index inferiore */
    height: 2em;
}

.copSection i{
    color: #0047AB;
    font-size: 20px;
}


.gitSection {
    display: flex;
    margin-left: 2%;
}
.gitSection i{
    font-size: 30px;
}

.copSection {
    margin: 0 auto;
}


.gitSection a{
    color: #4A9DEC;
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.gitSection a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

